NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2026-03-01
SANITY_STUDIO_TITLE=Bleu Maree Studio
SANITY_API_WRITE_TOKEN=
NEXT_PUBLIC_ZENCHEF_BOOKING_URL=
CONTACT_TO_EMAIL=
CONTACT_FROM_EMAIL=
CONTACT_SMTP_USER=
CONTACT_SMTP_PASS=
CONTACT_SMTP_SERVICE=gmail
CONTACT_SMTP_HOST=
CONTACT_SMTP_PORT=
CONTACT_SMTP_SECURE=
